# URL base de tu API (sin slash final o con, el cliente lo normaliza)
VITE_API_BASE_URL=http://localhost:8080

# Frase secreta para derivar la clave de cifrado del storage
VITE_STORAGE_SECRET=adasdasdasdasdasdasdasd
